canvas {
  box-shadow: #000 20px 10px 50px;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.9em;
  font-family: "Helvetica";
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(0deg, rgb(97, 98, 99) 0%, rgba(0, 0, 0, 0) 100%);
}

.restart-btn {
  border: 2px solid black;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.restart-btn:hover {
  background: #e7e7e7;
}
